
/* New Jobs creation form */
.Container{
    width: 800px;;
    margin:100px 400px;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    background: #FFFFFF;
  }
  .Container .title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
  
    /* margin:0px ; */
  
  }
  
  .Container form{
    /* margin: 10px 200px; */
    font-size: 30px;
    padding: 20px;
  }
  
  
  form .jobTitle{
    font-size: 30px;
  }
  .jobTitle .inp{
    height: 30px;
    width: 300px;
    margin:0px 90px ;
  }
  
  form .catg{
    font-size: 30px;
  }
  .catg .catagory{
    height: 30px;
    width: 230px;
    margin:0px 24px ;
  
  }
  
  .type .typee{
    height: 30px;
    width: 230px;
    margin:0px 80px ;
  
  }
  
  
  .salary .salr{
    height: 30px;
    width: 300px;
    margin:0px 63px ;
  
  }
  
  .expire .expiree{
    height: 30px;
    width: 230px;
    margin:0px 02px ;
  
  }
  
  .country .countr{
    height: 30px;
    width: 230px;
    margin:0px 34px ;
  
  }
  
  
  