
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Admin Payroll
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link  href= "{{ url_for('static',filename='css/bootstrap.min.css') }}" rel= "stylesheet">
  <link  href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}" rel= "stylesheet">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
<style>

  body{
    background:#fdd3d3;

  
  
h8{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color:green;
}

table{
    margin:30px 300px;
    padding: 30px;
    border-spacing:0;
    background-color:white;
    border-radius:10px;
    font-size:22px;
}
.table__row:nth-child(even){
    background-color:#e5e5e5;
}
.table__header{
    text-align:left;
}
.table__cell{
    padding:12px;
}

input#submit{
    width:200px;
    padding:7px;
    margin:20px 10px;
    font-family: 'Raleway', sans-serif;

    font-size:22px;
    font-style:bold;
    border-radius:3px;
    background-color:red;
    color:#fff;
    border: 1px solid ;
    box-shadow:1px 1px 5px 
    rgba(0,0,0,0.3);
}


</style>  

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://127.0.0.1:5000/" class="simple-text logo-normal">
            NAMAL HRMS
          </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/Dashboard">
              <i class="fas fa-home"></i>

              <p>Dashboard</p>
              
            </a>
          </li>
          <li>
            <a href="/Candidates">
              <i class="fas fa-child"></i>

              <p>Candidates</p>
            </a>
          </li>
          <li>

            <a href="/Recruitment">
              <i class="fab fa-wpforms"></i>

              <p>Recruitment Jobs</p>
            </a>
          </li>
          <li>
            <a href="/Add Employee">
              <i class="fas fa-user-plus"></i>

              <p>Add Employees</p>
            </a>
          </li>
          <li>
            <a href="/Admin Payroll">
              <i class="fab fa-cc-amazon-pay"></i>              
              <p>Payroll</p>
            </a>
          </li>
          <li>
          <li>
            <a href="./user.html">
              <i class="fas fa-user-circle"></i>              
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <i class="fas fa-question-circle"></i>              
              <p>Help</p>
            </a>
          </li>
          <li>
            <a href="/Log Out">             
            
            
            <i class="fas fa-sign-out-alt"></i>
            <p>Logout</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <h1> Payroll</h1>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-search"></i>                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
   
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="fas fa-user"></i>                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h2> Give and manage salaries </h2>
                <div class="box1">

                    <div class="contains">
                        <form method ="POST" action="">
                            
                            <div class="jobTitle">
                                <label > Emp. Username </label>
                                
                                <input class="inp" type="text" name="name" id="name" placeholder="Enter the Username">
                            </div>
                            <div class="jobTitle">
                                <label > Email </label>
                                
                                <input class="inp" type="email" name="email" id="name" placeholder="Email">
                            </div>
                            <div class="jobTitle">
                                <label > Salary Per Month  </label>
                                
                                <input class="inp" type="text" name="salary" id="name" placeholder="Salary">
                            </div>
                            <div class="jobTitle">
                                <label > Date </label>
                                
                                <input class="inp" type="date" name="time" id="name" placeholder="CNIC">
                            </div>

        
                
                
                
                            <div class="sButton">
                                <input type="submit" value = "Add" name="submit" id="submit">
                                <button type="clear"> Clear </button>
                            </div>
                            <p2 class="message"> {{msg}} </p2>
                        </form>

                    </div>
                    <table class="table">
                      <tr class="table__header"> 
                          {% for head in header %}
                          <th class="table__cell"> {{head}} </th>
                  
                          {% endfor %}
                      {% for item in data %}
                      <tr class="table__row">
                          <td class="table__cell">{{item[0]}} </td>
                          <td class="table__cell"> <a href="#"> {{item[1]}} </a> </td>
                          <td class="table__cell">{{item[2]}}</td>
                          <td class="table__cell">{{item[3]}}</td>
                          <td class="table__cell">{{item[4]}}</td>
                          <td class="table__cell">{{item[5]}}</td>
      
      
                          ...
                      </tr>
                      {% endfor %}
                  
                  </table>
                  
                </div> 


              </div> 

              <div class="card-body ">
                <div id="map" class="map"></div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      
    </div>
  </div>

</body>

</html>